.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
}
.bestsellers-item {
  background-color: #fff;
}
.beaststellers-ill {
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
}
