.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.bestsellers-item {
  width: calc((100% - 16px * 2) / 3);
  background-color: #fff;
}
.bestsellers-ill {
  border-radius: 16px 16px 0 0;
}
.bestsellers-caption {
  padding: 28px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  border-radius: 0 0 15px 15px;
}
