/*Global style*/
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111;
  background: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
.img {
  display: block;
}
/*Base style*/
.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.section {
  padding: 60px 0;
}
.section-title {
  max-width: 412px;
  margin: 0 auto 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}
.accent {
  color: #fd9222;
}
.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
.logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.logo-icon {
}
/*Socials*/
.socials {
  display: flex;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
}
.socials-light .socials-link  {
  background-color: #fff;
}
.socials-link:hover,
.socials-link:focus {
  border: 1px solid rgba(253, 146, 34, 0.1);
}
.socials-icon {
}

.btn {
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;

  background-color: transparent;
  border: 1px solid transparent;
}
.btn-filled {
  color: #fff;
  background: #fd9222;
}
.btn-filled:hover,
.btn-fille:focus {
  background: rgba(253, 146, 34, 0.1);
  color: #fd9222;
}
.btn-outline {
}
.primary {
  border-color: #fff;
  color: #fff;
}
.primary:hover,
.primary:focus {
  border-color: #fd9222;
  color: #fd9222;
}
.secondary {
  display: block;
  margin: 0 auto;
  border-color: #fd9222;
  color: #111;
}
.secondary:hover,
.secondary:focus {
  color: #fff;
  background: #fd9222;
}
