.made {
}
.made-title {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left-side {
  border-radius: 16px;
  overflow: hidden;
}
.made-right-side {
  width: 516px;
  border-radius: 15px;
  padding: 32px;
  background-color: #fff;
}
.made-ill {
}
.made-caption {
  max-width: 350px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item{
  display: flex;
  gap: 8px;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-item::before {
  content: "";
  flex-shrink: 0;

  width: 8px;
  height: 8px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;

  display: inline-block;
}
