.mobail-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #1e1823;

  transform: translateX(100%);

  transition: 300ms ease-out;
  transition-property: transform;
}
.mobail-menu.is-open {
  transform: translateX(0);
}

@media only screen and (min-width: 768px) {
  .mobail-menu {
    display: none;
  }
}
.mobail-menu-container {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 72px 20px 40px;
}
.mobail-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  border: none;
  transition: 300ms ease-out;
  transition-property: color;
}
.header .mobail-menu-btn {
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .header .mobail-menu-btn {
    display: none;
  }
}
.mobail-menu .mobail-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobail-menu .mobail-menu-btn-icon {
  color: #fff;
}

.mobail-menu-btn:hover .mobail-menu-btn-icon,
.mobail-menu-btn:hover .mobail-menu-btn-icon {
  color: #fd9222;
}

.mobail-menu-btn {
}
.mobail-menu-btn-icon {
}
.mobail-menu-list {
  margin-bottom: auto;
}
.mobail-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobail-menu-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
}
.mobail-menu-link.acctive {
  color: #fd9222;
}
